export const <%= className %>Config = {
  config: {
    steps: [
      {
        step: 'start',
        showContinueButton: true,
        showBackButton: true,
        validation: [],
      }<% if (!onlyStart) { %>,
      {
        step: 'confirm',
        showContinueButton: true,
        showBackButton: true,
        validation: [],
      },
      {
        step: 'execute',
        showContinueButton: false,
        showBackButton: false,
        validation: [],
      },<% } %>
    ],
  }
};
